beautifulsoup4==4.4.0
bleach==1.4.1
chardet==2.3.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.3
django-contrib-comments==1.6.1
django-modeltranslation==0.10
django-registration==1.0
django-toolbelt==0.0.1
ecdsa==0.13
fab==1.4.2
Fabric==1.10.2
filebrowser-safe==0.4.0
future==0.15.0
futures==3.0.3
grappelli-safe==0.4.1
gunicorn==19.3.0
html5lib==0.999999
Mezzanine==4.0.1
oauthlib==1.0.3
paramiko==1.15.2
Pillow==2.9.0
psycopg2==2.6.1
pycrypto==2.6.1
python-dateutil==2.4.2
pytz==2015.4
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
static3==0.6.1
tzlocal==1.2
virtualenv==13.1.0
