{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<p>
    LBG URFU является частью международной студенческой организации BEST и была создана для предоставления студентам Уральского Федерального Университета возможностей многостороннего развития наравне со студентами ведущих европейских университетов, разрушая барьеры между национальностями, путем изучения и понимания разных культур. Студенты, участвующие в международной деятельности BESTа, получают уникальный опыт работы в международной команде, развивают прикладные навыки. Приоритет BESTa — делать связь между тремя элементами «студенты-компании-университеты» более тесной и прочной.
    В России существует лишь 4 ВУЗа, студенты которых создали, так называемые, локальные группы, подарив остальным учащимся своих университетов возможность путешествовать и учиться вместе с BEST. Один из таких вузов — Уральский Федеральный Университет.
</p>
{% endblocktrans %}
{% endblock %}
