{% load i18n %}

<h3>{% trans "Партнеры BEST URFU" %}</h3>
<div class="partners">
    <div class="slide"><img src="/static/media/uploads/partners/tebodin.jpg"></div>
    <div class="slide"><img src="/static/media/uploads/partners/cola_logo.svg.png"></div>
    <div class="slide"><img src="/static/media/uploads/partners/saninbev.png"></div>
    <div class="slide"><img src="/static/media/uploads/partners/vl.png"></div>
    <div class="slide"><img src="/static/media/uploads/partners/udeb.png"></div>
    <div class="slide"><a href="https://vk.com/chocolate.blizko"><img src="/static/media/uploads/partners/chocolate.jpg"></a></div>
    <div class="slide"><img src="/static/media/uploads/kulinaria.jpg"></div>
    <div class="slide"><img src="/static/media/uploads/partners/a_print.jpg"></div>
</div>